<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.examples.mapper.UserMapper">


    <resultMap id="userMap" type="user">
        <id property="id" column="id" javaType="string"></id>
        <result property="username" column="username" javaType="string"></result>
        <result property="password" column="password" javaType="string"></result>
    </resultMap>

    <sql id="table_user">
        user
    </sql>

    <select id="selectAll" resultMap="userMap">
        select * from
        <include refid="table_user">
            <property name="uuu" value="uuu"></property>
        </include>
    </select>
</mapper>